.container {
  width: 100vw;
  height: 100vh;
  font-size: 2em;
}

.wrapper {
  width: 100%;
  padding: 0 10%;
}

@media (min-width: 768px) {
  .wrapper {
    width: 75vw;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 50vw;
  }
}

.container input,
.container button {
  font-size: 0.75em;
  box-shadow: none !important;
}
